<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Welcome to Mystery Books Store1</h1>
{% if request.user.is_authenticated %}
<h4>
    Welcome,{% if request.user.first_name %}
    {{ request.user.first_name }}
    {% else %}
    {{ request.user.username}}
    {% endif %}!<a href ="{% url 'auth_logout' %}">Log out</a>
</h4>
{% else %}
<h4> Welcome, mysterious person! would you like to <a href ="{% url 'auth_login' %}">Log in</a></h4>
{% endif %}

{% block content %}
Welcome to The Mystery Books store!

There are {{count}} books in stock. 

{% endblock %}
</body>
</html>